/* Hero */
#hero {
  background: url(../public/images/hero-cover.png) top/cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.664);
}

#hero h1 {
  font-family: var(--lg-font);
  font-weight: 400 !important;
}

/* Promo */
#promo {
  margin-top: -200px;
  min-height: 360px;
}
.promo-wrap {
  z-index: 99;
}

#promo .row {
  background-color: #fff;
  box-shadow: 0px 16px 28px 0px rgb(0 0 0 / 15%);
}

/* Current Fundraisers */
#fundraisers {
  background: url(../public/images/background-1.png) top/cover;
}
#fundraisers .card {
  height: 600px;
  width: 430px;
}
.progress {
  border-radius: 0px;
}
.progress-bar {
  text-align: end;
  padding-right: 10px;
}
#fundraisers span {
  top: 30px;
  right: 30px;
}
#fundraisers .amount {
  bottom: 1px;
}
/* .fundraiser-img {
  height: 300px;
  width: 408px;
} */

/* Newsletter  */
#newsletter {
  background-color: whitesmoke;
}
#newsletter .input-group {
  max-width: 500px;
}

#newsletter .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* ------- HOMEPAGE ------- */

/* Volunteer Programs */
.program-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 215, 107, 0.9);
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;
}

.program-item:hover .program-overlay {
  opacity: 1;
}

.program-item:hover img {
  transform: scale(1.1);
}

.program-item img,
.program-item .program-overlay {
  transition: all 0.4s ease;
}

/* Badges */
#badges {
  background: url(../public/images/background-1.png) top/cover;
}

/* .card:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
} */

/* Donate Page */
.donate-bg {
  background-image: url(../public/images/hero-cover.png);
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
.donate {
  margin-top: 90px;
  height: 100%;
  width: 100%;
}
.donate-form {
  margin-top: 104px;
}

/* NavBar */

.drop {
  border-color: #ffc107;
}

/* Profile */

.bor {
  height: 300px;
  width: 300px;
  background: url();
  background-size: contain;
  margin-left: -98px;
  margin-top: -100px;
}

.p-name {
  margin-top: 80px;
  margin-left: 130px;
}

/* Activities */

.event {
  padding-top: 100px;
}

.event-card {
  padding-right: 15px;
}

.seperator {
  background-color: #ffc107;
  width: 300px;
  height: 3px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 25px;
}

.actfont {
  margin-top: 90px;
  font-size: 40px;
}

.act-card {
  margin-bottom: 30px;
}

.act-img-box {
  position: relative;
  display: block;
}
.act-img {
  position: relative;
  display: block;
  background: var(--thm-black);
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* volunteer Card */

.card:hover {
  box-shadow: 10px 10px 15px rgba(179, 140, 13, 0.493);
}

.card:hover .card-img {
  transform: scale(1.1);
  transition: all 0.4s ease;
}

.card-date {
  top: 20px;
  left: -20px;
  height: 62px;
  width: 62px;
  background: #ffc107;
  color: rgb(66, 64, 64);
  border-radius: 14%;
}

.text-h:hover {
  color: #ff6d28 !important;
  transition: all 0.4s ease;
}

/* Discover */

.discover {
  margin-top: 25px;
}

.seperator-two {
  background-color: #ffc107;
  width: 3px;
  height: 300px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 25px;
}

.dis-box {
  height: 400px;
  width: 600px;
  background-color: #ffd24c;
}

.icon {
  padding-left: 14%;
}

.text {
  font-family: "Marcellus", serif;
}

/* dashboard */

.sidebar {
  margin-top: 108px;
  height: 690px;
  width: 300px;
  background-color: #fcd04c;
}
.sb-container {
  padding: 10px;
  padding-top: 5px;
}

/* HeroHome */
#herohome {
  background: url(../public/images/dash3.jpg) top/cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.664);
  height: 550px;
}

#herohome h1 {
  font-family: var(--lg-font);
  font-weight: 500 !important;
  font-size: 60px;
}

/* Activities Available */

.seperator-two {
  background-color: #ffc107;
  width: 711px;
  height: 1px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: -3px;
}

.title-fil {
  font-size: x-large;
}

/********* DASHBOARD PAGE *********/
#dashboard {
  background-color: rgba(253, 245, 220, 1);
}
