@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;700&display=swap');

/* Initial Setup */
:root{
    --lg-font: 'Josefin Sans', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --primary: #0d6efd;
    --warning: #ffc107;
}
body {
    font-family: var(--sm-font);
}

.btn:hover {
    background-color: whitesmoke;
    color: black;
    border: whitesmoke;

}
.btn {
    border-radius: 2px !important;
}

.title-border {
    border-top: 5px solid var(--warning);
    border-bottom: none;
    width: 90px;
    margin-top: 0;
}